<!DOCTYPE html>
<html>
  <head>
    <title>Kinographist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('film_icon.svg') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <meta property="og:title" content="Kinographist" />
     <meta property='og:image' content="<%= image_url('site_image.png') %>"/>
     <meta property="og:description"
       content="Film cataloguing and review site."
     />
     <meta property="og:url"
       content="https://kinographist.herokuapp.com/"
     />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
